.Login__page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 10% auto;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.25);
    width: 30%;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.container label
{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 290px;
    
}
.container input{
    background-color: #f0f8ff;
    border: 1px solid #f0f8ff;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
}
.loginbtn{
    background-color: #0065a2;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}
.details{
    font-size: 16px;
}
.details span{
    font-weight: 400;
}